
.container{
    display: flex;
    height:60rem;
    width: 100%;
    background-image: url('../../assets/formBg.jpg');
    justify-content: center;

}
.formWrapper{
    height:auto ;
    width: auto;

}
.courseHeadingContainer{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;


}
.courseHeading{
    color: ivory;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.radioOptionsContainer{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    

}
.subjectAndDateContainer{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;


}
.notesContianer{
    margin-top: 3rem;


}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;


}